# Python ignores
__pycache__/
*.py[cod]
*$py.class
*.so

# Datasets and huge spatial files (Do NOT push to GitHub)
raw/
*.pt
INDEX_*
refined_ids.txt

# Generated Visualization Outputs
*.html

# Environments
.env
.venv
env/
venv/

# IDEs
.vscode/
.idea/

# Binários, Pesos do Modelo e Bibliotecas Locais (Evitar limite de 100MB do GitHub)
*.pth
smina
mini_library_gpcr/

# Pacotes de dados baixados (CASF-2016 tem 1,5 GB)
*.tar.gz

# Saídas geradas de visualização (PyMOL), como já se faz com *.html
*.pml
